
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  color: #363062;
  margin-bottom: 5px;
}

.vaccine-newvaccine,
.vaccine-updatevaccine, 
.search-bar,
.list {
  
  background-color: #F5F5F5; 
  border-radius: 10px;
  padding: 10px;
  
}

.vaccine-newvaccine input,
.vaccine-updatevaccine input,
.search-bar input {

  padding: 8px;
  border: 1px solid #4d4c7d32;  
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
  border-radius: 5px;
  color: #363062;
  margin-left: 5px;
}

::placeholder {
  color: #4d4c7d73;
  padding: 2px;
}

.vaccine-newvaccine select,
.vaccine-updatevaccine select,
.search-bar select {
  padding: 8px;
  border: 1px solid #4d4c7d32;
  border-radius: 5px;
  color: #363062;
  width: 20%;
  margin-bottom: 10px;
  margin-left: 5px;
}

.vaccine-newvaccine button,
.vaccine-updatevaccine button,
.search-bar button {
  padding: 10px 20px;
  background-color: purple; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.reset{
  padding: 10px 20px;
  background-color: #F99417; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom:20px

}

.reset:hover {
  background-color: #FFD166;
  transition: background-color 0.3s ease;
}

.vaccine-newvaccine button:hover,
.vaccine-updatevaccine button:hover,
.search-bar button:hover {
  background-color: #F17C16; 
}

.search-bar-vaccine{
  display: flex;
  justify-content: center;
  /* gap: 10px; */
  /* margin-top: 13px;
  padding-bottom: 10px; */
  
  background-color: #f5f5f5;
  padding-bottom: 10px;
  margin-top: 13px;
  /* border-radius: 10px; */
}

.reset-button{
 
  background-color: #F99417; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
 
}

.reset-button:hover {
  background-color: #FFD166;
  transition: background-color 0.3s ease;
}

.reset-show{
  background-color: #F5F5F5;
  padding-bottom: 20px;

}



.list {
  margin-top: 1px;
  max-width: 100%;
  padding: 20px;
}

.list div {
  background-color: #fff; 
  margin-bottom: 10px;
  border: 1px solid #4d4c7d32;  
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.list div span {
  cursor: pointer;
}

.list div span:hover {
  color: #76ABAE; 
}


/* -------------------------------- */
.table-container {
  max-width: 100%;
  margin: auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #dddddd75;
  text-decoration: underline;
  text-decoration-color: #36306237;
  color: #363062;
  
}

table th {
  background-color: #36306237;
  color: #363062e3
}

